@{
    ViewData["Title"] = "Home Page";
}
<style>
    img.rounded-corners {
        border-radius: 50%;
        
    }

    .topright {
        position: absolute;
        top: 80px;
        right: 610px;
        font-size: 18px;
        
    }



</style>
<body>
    <div class="sign">
        <span class="fast-flicker">Welcome</span>*<span class="fast-flicker">to</span>*<span class="flicker">Pie</span>*<span class="fast-flicker">Bakers</span>
    </div>
</body>


<h2 class="topright">
    <img class="rounded-corners" src="~/images/pie shop.png" style="width: 150px;
        height: 150px;" />
</h2>
<p>


</p>

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpLeM-1_Sc5x4Rt2se7i_OK4MFn_xrNkQOQDbb9NqsakSRDT7fw-znlBf3KeSTcKLTsmA&usqp=CAU">
</body>
